{
    position: fixed;
    background-color: rgb(102, 228, 144);
    display: relative;
    width: 100%;
    margin: 0;

}
.nav_brand
{
    position: relative;
    font-size: 25px;
    left: 5%;
    color: white;
    font-weight: bold;
    line-height: 70px;
}

ul
{
    position: relative;
    float: right;
    margin-right: 20px;
}
ul li
{
    display: inline-block;
    line-height: 70px;
    margin: 0 5;

}